<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/classroom.css">
</head>

<body>
    <div id="main">
        <div id="fullscreen-nav">
            <h4><a href="#">Home</a></h4>
            <h4><a href="/Courses">Courses</a></h4>
            <h4><a href="/CampusAmbassador">Campus Ambassador</a></h4>
            <h4><a href="/GirlsWhoCode">Girls Who Code</a></h4>
            <h5 id="cross"><i class="ri-close-fill"></i></h5>
        </div>
        <div id="nav-main">
            <div id="left-main-nav">
                <img src="/images/Sheryians Logo.png" alt="Sher">
                <div id="nav-main-line"></div>
                <a href="">
                    <h4><span>Sheryians</span> Coding School</h4>
                </a>
            </div>
            <div id="right-main-nav">
                <a href="">
                    <h4>Home</h4>
                </a>
                <a href="/Courses">
                    <h4>Courses</h4>
                </a>
                <a href="/CampusAmbassador">
                    <h4>Campus Ambassador</h4>
                </a>
                <a href="/GirlsWhoCode">
                    <h4>Girls Who Code</h4>
                </a>
                <i id="menu-icon" class="ri-menu-3-line"></i>
            </div>
        </div>
        <div id="center">
            <div id="left-panel">
                <div id="user">
                    <div id="user-image">
                        <img src="" alt="">
                    </div>
                    <div id="user-dets">
                        <h2 id="user-name">Hey Harshu</h2>
                    </div>
                </div>
                <div id="user-options">
                    <h3 id="op1"><i class="ri-user-6-line"></i>My Profile</h3>
                    <h3 id="op2"><i class="ri-information-line"></i>My Courses</h3>
                    <h3 id="op3"><a href="#"><i class="ri-logout-box-line"></i>Log out</a></h3>
                </div>
            </div>
            <div id="right-panel">
                <form id="faram" action="">
                    <h1>Welcome, <span>Sarthak</span>.</h1>
                    <h3>Account Details</h3>
                    <div id="firstName">
                        <h5 id="firstnameh5">First Name</h5>
                        <input id="firstNameInput" type="text">
                    </div>
                    <div id="lastName">
                        <h5 id="lastnameh5">Last Name</h5>
                        <input id="lastNameInput" type="text">
                    </div>
                    <div id="email">
                        <h5 id="emailh5">Email</h5>
                        <input id="emailInput" type="email">
                    </div>
                    <div id="phone">
                        <h5 id="phoneh5">Phone</h5>
                        <input id="phoneInput" type="text">
                    </div>
                    <div id="btns">
                        <button id="savebtn">Save</button>
                        <button id="cancelbtn">Cancel</button>
                    </div>

                </form>
                <div id="right-page2">
                    <div class="card" id="card1">
                        <div id="course1-img" class="course-img"><img src="" alt="course1-img"></div>
                        <div id="course1-datails" class="course-details">
                            <h3 class="course-name" id="course1-name">Sabse achha HTML</h3>
                            <p class="course-para" id="course1-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div>
                    <div class="card" id="card2">
                        <div id="course2-img" class="course-img"><img src="" alt="course2-img"></div>
                        <div id="course2-datails" class="course-details">
                            <h3 class="course-name" id="course2-name">Us se bhi achha CSS</h3>
                            <p class="course-para" id="course2-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div>
                    <div class="card" id="card3">
                        <div id="course3-img" class="course-img"><img src="" alt="course3-img"></div>
                        <div id="course3-datails" class="course-details">
                            <h3 class="course-name" id="course3-name">Gand fat jaye esa JS</h3>
                            <p class="course-para" id="course3-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div>
                    <div class="card" id="card4">
                        <div id="course4-img" class="course-img"><img src="" alt="course4-img"></div>
                        <div id="course4-datails" class="course-details">
                            <h3 class="course-name" id="course4-name">Lund</h3>
                            <p class="course-para" id="course4-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("#menu-icon").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "0vw"
        })
        document.querySelector("#cross").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "-100vw"
        })
        document.querySelector("#lastNameInput").addEventListener("focusin", function () {
            document.querySelector("#lastnameh5").style.top = "-20%"
            document.querySelector("#lastnameh5").style.left = "7%"
            document.querySelector("#lastnameh5").style.fontSize = "14px"
            document.querySelector("#lastnameh5").style.zIndex = "10"


        })
        // document.querySelector("#lastNameInput").addEventListener("focusout", function () {
        //     document.querySelector("#lastnameh5").style.top = "25%"
        //     document.querySelector("#lastnameh5").style.left = "9%"
        //     document.querySelector("#lastnameh5").style.fontSize = "11px"

        // })
        document.querySelector("#firstNameInput").addEventListener("focusin", function () {
            document.querySelector("#firstnameh5").style.top = "-20%"
            document.querySelector("#firstnameh5").style.left = "7%"
            document.querySelector("#firstnameh5").style.fontSize = "14px"
            document.querySelector("#firstnameh5").style.zIndex = "10"

        })
        // document.querySelector("#firstNameInput").addEventListener("focusout", function () {
        //     document.querySelector("#firstnameh5").style.top = "25%"
        //     document.querySelector("#firstnameh5").style.left = "7%"
        //     document.querySelector("#firstnameh5").style.fontSize = "11px"

        // })
        document.querySelector("#emailInput").addEventListener("focusin", function () {
            document.querySelector("#emailh5").style.top = "-20%"
            document.querySelector("#emailh5").style.left = "2%"
            document.querySelector("#emailh5").style.fontSize = "14px"
            document.querySelector("#emailh5").style.zIndex = "10"


        })
        // document.querySelector("#emailInput").addEventListener("focusout", function () {
        //     document.querySelector("#emailh5").style.top = "25%"
        //     document.querySelector("#emailh5").style.left = "4%"
        //     document.querySelector("#emailh5").style.fontSize = "11px"
        // })

        document.querySelector("#phoneInput").addEventListener("focusin", function () {
            document.querySelector("#phoneh5").style.top = "-20%"
            document.querySelector("#phoneh5").style.left = "7%"
            document.querySelector("#phoneh5").style.fontSize = "14px"
            document.querySelector("#phoneh5").style.zIndex = "10"


        })
        // document.querySelector("#phoneInput").addEventListener("focusout", function () {
        //     document.querySelector("#phoneh5").style.top = "25%"
        //     document.querySelector("#phoneh5").style.left = "8%"
        //     document.querySelector("#phoneh5").style.fontSize = "11px"
        // })
        document.querySelector("#op1").addEventListener("click",function(){
            document.querySelector("#right-page2").style.opacity = 0;
            document.querySelector("#right-page2").style.zIndex = 9;
            document.querySelector("#faram").style.opacity = 1;
            document.querySelector("#faram").style.zIndex = 10;
            document.querySelector("#op1").style.backgroundColor = "white";

        })
        document.querySelector("#op2").addEventListener("click",function(){
            document.querySelector("#faram").style.opacity = 0;
            document.querySelector("#faram").style.zIndex = 9;
            document.querySelector("#right-page2").style.opacity = 1;
            document.querySelector("#right-page2").style.zIndex = 10;
        })
        // scroller.scrollTo(document.querySelector('#page2'));
        // const rightPage1 = document.querySelector("#right-page1");
        // const rightPage2 = document.querySelector("#right-page2");
        // const sel1 = document.querySelector("#sel1")
        // const sel2 = document.querySelector("#sel2")
        // document.querySelector("#left-panel #op1").addEventListener("click", function () {
        //     rightPage1.style.opacity = 1;
        //     rightPage2.style.opacity = 0;
        //     sel1.style.opacity = 1;
        //     sel2.style.opacity = 0;

        // })
        // document.querySelector("#op2").addEventListener("click", function () {
        //     rightPage1.style.opacity = 0;
        //     rightPage2.style.opacity = 1;
        //     sel1.style.opacity = 0;
        //     sel2.style.opacity = 1;
        // })
    </script>
</body>

</html>