<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Girls Who Code</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/Sheryians Logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/Sheryians Logo.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/Sheryians Logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/Sheryians Logo.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/Sheryians Logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/Sheryians Logo.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="/css/girlsWhoCode.css">
</head>

<body>
    <div id="main">
        <%- include('Partials/header.ejs') %>
            <div id="landingpage">
                <div id="landing-page-image"></div>
            </div>
            <!-- This is page 2 (For Akarsh) -->
            <div id="page2">
                <div id="page2-left">
                    <div class="scroll">
                        <div class="m-scroll"><span>&nbsp; Shery Girls Who Code, Create, Design and Develop
                                &nbsp;</span><span> &nbsp;Shery Girls Who Code, Create, Design and Develop&nbsp; </span>
                        </div>
                    </div>
                    <p id="page2-left-para">Girls Who Code is a movement by Sheryians in which we're trying to balance
                        out
                        the ratio between men and women in tech, We're continously doing Free Events and Workshops, so
                        that
                        we see more <b> Girls Who Code</b>.
                    </p>
                </div>
                <div id="page2-right">
                    <div class="card" id="card1">
                        <h3>Recent activity</h3>
                        <div class="card-img" id="card-img1"></div>
                        <p id="card-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut et veniam aliquam!
                        </p>
                    </div>
                    <div class="card" id="card1">
                        <h3>Recent activity</h3>
                        <div class="card-img" id="card-img1"></div>
                        <p id="card-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut et veniam aliquam!
                        </p>
                    </div>
                    <div class="card" id="card1">
                        <h3>Recent activity</h3>
                        <div class="card-img" id="card-img1"></div>
                        <p id="card-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut et veniam aliquam!
                        </p>
                    </div>
                </div>
            </div>
            <div id="page3">
                <div id="page3-part1">
                    <div id="page3-img"></div>
                    <h1>SQUAD</h1>
                </div>
                <div id="page3-part2">
                    <div id="page3-part2-top">
                        <div id="part2-txt1">Modern Girls who want modern change in the society where we see more
                            men in tech and there should be some change regarding that.
                        </div>
                        <div id="part2-txt2">
                            <h1>SQUAD</h1>
                        </div>
                    </div>
                    <div id="page3-part2-bottom">
                        <div id="part3-img1"></div>
                        <div id="part3-img2"></div>
                    </div>
                </div>
            </div>
            <div id="page5">
                <!-- ye aap bana do our team vala -->
                <div id="page5part1">
                    <h1 id="page5heading">Our<br>Team</h1>
                    <p>Everytime we face student who suffers when it comes to computer education, It hurts and we want
                        to change exactly that. </p>
                </div>
                <div id="page5part2">
                    <div id="page5part2div">
                        <h1 id="bottom-arrow"><i class="ri-arrow-right-down-line"></i></h1>
                        <p>Sheryians Campus Ambassador, a group of elite coders, who work for a purpose, a purpose which
                            will change the entire coding industry of Bhopal.</p>
                    </div>
                    <div id="part5img">
                        <img src="https://images.unsplash.com/photo-1573165662973-4ab3cf3d3508?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
                            alt="">
                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
        integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script>

        const scroller = new LocomotiveScroll({
            el: document.querySelector("#main"),
            smooth: true
        });

        document.querySelector("#menu-icon").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "0vw"
        })
        document.querySelector("#cross").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "-100vw"
        })

    </script>
</body>

</html>