<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/signIn/change-password/<%= user.reset_token %>" method="post">
        <h5>New Password</h5>
        <input type="password" required name="password">
        <br>
        <h5>Confirm Password</h5>
        <input type="password" required name="confirm_password">
        <br>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>