<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/signIn.css">
</head>

<body>
    <div id="main">
        <div id="fullscreen-nav">
            <h4><a href="/">Home</a></h4>
            <h4><a href="/Courses">Courses</a></h4>
            <h4><a href="/CampusAmbassador">Campus Ambassador</a></h4>
            <h4><a href="/GirlsWhoCode">Girls Who Code</a></h4>
            <h5 id="cross"><i class="ri-close-fill"></i></h5>
        </div>
        <div id="left-panel">
            <div id="nav">
                <img src="../Assets/images/Sheryians Logo.png" alt="">
                <i id="menu-icon" class="ri-menu-3-line"></i>
            </div>
            <div id="sign-in-page">
                <p>Welcome Champ!</p>
                <h1>Login your account</h1>
                <form action="/signIn/auth-user" method="post">
                    <h5>Email</h5>
                    <input type="text" required name="email">
                    <br>
                    <h5>Password</h5>
                    <input type="password" required name="password">
                    <br>
                    <button type="submit">Login</button>
                </form>
                <a id="create_ac" href="/signup/newuser">Create New Account</a>
                <div id="gitgoog">
                    <a id="google_link" href="/google"><i class="ri-google-fill"></i>Google</a>
                    <a id="github_link" href="/auth/github"><i class="ri-github-fill"></i>Github</a>
                </div>
            </div>
        </div>
        <div id="right-panel">
            <div id="right-panel-img"></div>
        </div>
    </div>
    <script>
        document.querySelector("#menu-icon").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "0vw"
        })
        document.querySelector("#cross").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "-100vw"
        })
    </script>
</body>

</html>