<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/signIn.css">
</head>

<body>
    <div id="main">
        <div id="fullscreen-nav">
            <h4><a href="/">Home</a></h4>
            <h4><a href="/Courses">Courses</a></h4>
            <h4><a href="/CampusAmbassador">Campus Ambassador</a></h4>
            <h4><a href="/GirlsWhoCode">Girls Who Code</a></h4>
            <h5 id="cross"><i class="ri-close-fill"></i></h5>
        </div>
        <div id="left-panel">
            <div id="nav">
                <img src="../Assets/images/Sheryians Logo.png" alt="">
                <i id="menu-icon" class="ri-menu-3-line"></i>
            </div>
            <div id="sign-in-page">
                <p>Welcome Champ! </p>
                <h1>Login your account </h1>
                <form id="land-form" action="/signIn/auth-user" method="post">
                    <h5>Email</h5>
                    <input type="email" required name="email">
                    <br>
                    <h5>Password</h5>
                    <input type="password" required name="password">
                    <% if(request.session.message==='User Not Found' ){ %>
                        <a href="/signup/newuser" style="text-decoration: underline; color:red;">User Not Found </a>
                        <br>
                        <a href="/signup/newuser" style="text-decoration: underline; color:red;">Create new account</a>
                        <% } %>
                            <% if(request.session.message==='Incorrect Password' ){ %>
                                <a href="signIn/forgot" style="text-decoration: underline; color:red;">Forgot
                                    Password?</a>
                                <% } %>
                                    <br>
                                    <button type="submit">Login</button>
                </form>
                <a id="create_ac" href="/signup/newuser">Create New Account</a>
                <div id="gitgoog">
                    <a id="google_link" href="/google"><i class="ri-google-fill"></i>Google</a>
                    <a id="github_link" href="/auth/github"><i class="ri-github-fill"></i>Github</a>
                </div>
            </div>
        </div>
        <div id="right-panel">
            <div id="right-panel-img"></div>
        </div>
    </div>
    <div id="main2">
        <div id="fullscreen-nav-ptr">
            <h4><a href="/">Home</a></h4>
            <h4><a href="/Courses">Courses</a></h4>
            <h4><a href="/CampusAmbassador">Campus Ambassador</a></h4>
            <h4><a href="/GirlsWhoCode">Girls Who Code</a></h4>
            <h4><a href="/">SignIn</a></h4>
            <h5 id="cross-ptr"><i class="ri-close-fill"></i></h5>
        </div>
        <div id="nav-ptr">
            <div id="nav-ptr-part1">
                <img src="../Assets/images/Sheryians Logo.png" alt="">
                <h3>The Sheryians Coding School</h3>
            </div>
            <i id="menu-icon-ptr" class="ri-menu-3-line"></i>
        </div>
        <div id="main2-content">
            <img id="login-top-img" src="../Assets/images/loginform.png" alt="">
            <img src="../Assets/images/login-page-lower.png" alt="" id="login-lower-circle">
            <form action="/signIn/auth-user" method="post" id="ptr-form">
                <h5>Email</h5>
                <input type="text" required name="email">
                <br>
                <h5>Password</h5>
                <input type="password" required name="password">
                <button type="submit"><i class="ri-arrow-right-line"></i></button>
            </form>
            <div id="some-options">
                <a href="/signup/newuser">Create New Account</a>
                <div id="ptr-btns">
                    <a href="/google" id="ptr-google-link"><i class="ri-google-fill"></i>Google</a>
                    <a href="/auth/github" id="ptr-github-link"><i class="ri-github-fill"></i>Github</a>
                </div>
            </div>
            <h4 id="user-rev-head">User Reviews</h4>
            <div id="reviews-div">
                <div class="review-div-in">
                    <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                        alt="" class="review-img">
                    <h5 class="reviewer-name">Lavda</h5>
                    <div class="star-div">
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>
                    <p class="reviewer-review">Yeh saare milke bc hamko chutiya bana rahe hai</p>
                </div>
                <div class="review-div-in">
                    <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                        alt="" class="review-img">
                    <h5 class="reviewer-name">Lavda</h5>
                    <div class="star-div">
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>
                    <p class="reviewer-review">Bas ek sarthak bhaiya sexy hai baki sab ...</p>
                </div>
                <div class="review-div-in">
                    <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                        alt="" class="review-img">
                    <h5 class="reviewer-name">Lavda</h5>
                    <div class="star-div">
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>
                    <p class="reviewer-review">Yeh saare milke bc hamko chutiya bana rahe hai</p>
                </div>
            </div>
            <button id="swipe-left-button"><i class="ri-arrow-drop-left-line"></i></button>
            <button id="swipe-right-button"><i class="ri-arrow-drop-right-line"></i></button>
        </div>

    </div>
    <script>
        document.querySelector("#menu-icon").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "0vw"
        })
        document.querySelector("#menu-icon-ptr").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav-ptr").style.left = "0vw"
        })
        document.querySelector("#cross").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "-100vw"
        })
        document.querySelector("#cross-ptr").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav-ptr").style.left = "-100vw"
        })
        var position = 0;
        document.querySelector("#swipe-right-button").addEventListener("click", function () {
            if (position < window.screen.availWidth * 2) {
                document.querySelector("#reviews-div").scrollTo({
                    top: 0,
                    left: `${position += window.screen.availWidth}`,
                    behavior: "smooth"
                })
            }
        })
        document.querySelector("#swipe-left-button").addEventListener("click", function () {
            if (position > 0) {
                document.querySelector("#reviews-div").scrollTo({
                    top: 0,
                    left: `${position -= window.screen.availWidth}`,
                    behavior: "smooth"
                })
            }
        })
    </script>
</body>

</html>