@font-face {
    font-family: gilroy;
    src: url("/fonts/Gilroy-Medium.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

#main {
    min-height: 100vh;
    width: 100%;
}

#center {
    height: 90vh;
    padding: 0vh 7vw;
    position: relative;
    top:7vh;
    background-color: rgb(240, 248, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-panel {
    width: 23vw;
    border-radius: 8px 0 0 8px;
    height: 91%;
    display: flex;
    box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 9;

}

#right-panel {
    width: 63vw;
    border-radius: 0 8px 8px 0;
    height: 91%;
    position: relative;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.13);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, #fff, #fff);
}

#left-panel #user {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    border-radius: 8px 0 0 0;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
}

#user-image {
    width: 8vw;
    height: 8vw;
    /* border: 1px solid #333; */
    border-radius: 50%;
    overflow: hidden;
}
#user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    background-position: center;
}
#no-user-img{
    height: 100%;
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-image #no-user-img h1{
    color: white;
    font-size: 3vw;
}
#left-panel #user #user-upload-profile-dp{
    /* position: absolute; */
    opacity: 1;
    display: inline-block;
}

#left-panel #user #user-dets h2 {
    margin-top: 1vw;
    font-weight: 500;
    font-size: 1.8vw;
}

#left-panel #user-options {
    width: 100%;
    height: 67%;
    display: flex;
    border-radius: 0 0 0 8px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient(to right bottom, rgb(238, 247, 255), rgb(225, 240, 255));
}
#user-profile-edit-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8vw 0.8vw;
    color: white;
    position: absolute;
    left: -1vw;
    top: -1vh;
    border-radius: 50%;
    background:linear-gradient(to right bottom,#45a2ff,#64cbff) ;
    border: none;

}
#left-panel #user-options h3 {
    width: 100%;
    color: #444;
    padding: 2.3vh 1.6vw;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: relative;
    z-index: 10;
    display: flex;
    font-weight: 500;
    background: linear-gradient(to right, rgb(243, 246, 255), rgb(213, 236, 255));
    margin: 2px 0;
    font-size: 1.25vw;
    align-items: center;
}

#left-panel #user-options h3 a{
    color: #444;
    display: flex;
    align-items: center;
    text-decoration: none;
}
#left-panel #user-options h3 i {
    margin-right: 1.1vw;
    font-size: 1.5vw;
    font-weight: 400;
}

#left-panel #user-options h3:hover {
    background: linear-gradient(to right, rgb(248, 251, 255), rgb(220, 239, 255));
    transform: scale(1);
    color: #000;
    border-radius: 5px;
}

.leftline{
    position: absolute;
    left: 0;
    width: 9px;
    height: 100%;
    /* border-radius: 50px; */
    background-color: rgb(61, 181, 255);
    opacity: 0;
}
#leftline2{
    opacity: 1;
}
#faram1{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    display: none;
    opacity: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1vh 1vw;
    background-color: #fff;
}


#faram1 h1 {

    margin-top: -2vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    font-family: gilroy;
    width: 100%;
    font-weight: 500;
    font-size: 2.6vw;
}
#faram1 h3 {

    margin-top: -3vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    font-family: gilroy;
    width: 100%;
    font-weight: 400;
    font-size: 1.35vw;
    color: #555;
}
#faram1 h1 span{
    color: rgb(21, 177, 255);
    font-weight: 600;
}

#firstName {
    position: relative;
    margin-top: -5vh;
    margin-bottom: 7vh;
}

#firstName h5 {
    font-size: 13px;
    color: #555;
    position: absolute;
    background-color: #fff;
    top: 25%;
    font-weight: 500;
    z-index: 9;
    left: 8%;
    padding: 0.3vh 0.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;

}

#firstName input {
    font-size: 14px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 4px;
    width: 22vw;
    position: relative;
    background-color: transparent;
    z-index: 10;
    margin: 0 1vw;
    padding: 1.7vh 5vw 1.7vh 1vw;
}

#firstName input:focus {
    outline: none;
    border: 2px solid rgb(68, 193, 255);
}

#lastName {
    position: relative;
    margin-top: -5vh;
    margin-bottom: 7vh;
}

#lastName h5 {
    font-size: 13px;
    color: #555;
    position: absolute;
    background-color: #fff;
    top: 25%;
    font-weight: 500;
    left: 8%;
    padding: 0.3vh 0.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;

}

#lastName input {
    font-size: 14px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 4px;
    padding: 1.4vh 5vw 1.4vh 1vw;
    width: 22vw;
    margin: 0 1vw;
    position: relative;
    background-color: transparent;
    padding: 1.7vh 5vw 1.7vh 1vw;
}

#lastName input:focus {
    outline: none;
    border: 2px solid rgb(68, 193, 255);
}

#phone {
    position: relative;
    margin-top: -10vh;
}

#phone h5 {
    font-size: 13px;
    color: #555;
    position: absolute;
    background-color: #fff;
    top: 25%;
    font-weight: 500;
    left: 8%;
    padding: 0.3vh 0.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}

#phone input {
    font-size: 14px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 4px;
    padding: 1.4vh 5vw 1.4vh 1vw;
    width: 22vw;
    background-color: transparent;
    margin: 0 2vw;
    padding: 1.7vh 5vw 1.7vh 1vw;
    position: relative;
}

#phone input:focus {
    outline: none;
    border: 2px solid rgb(68, 193, 255);
}

#email {
    position: relative;
    margin-left: 1vw;
    margin-top: -10vh;
    margin-bottom: 8vh;
}

#email h5 {
    font-size: 13px;
    color: #555;
    position: absolute;
    background-color: #fff;
    top: 23%;
    font-weight: 500;
    left: 2%;
    padding: 0.3vh 0.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;

}

#email input {
    font-size: 12px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 4px;
    width: 46vw;
    background-color: transparent;
    position: relative;
    padding: 1.7vh 1vw 1.7vh 1vw;
}

#email input:focus {
    outline: none;
    border: 2px solid rgb(68, 193, 255);
}

#update_dp{
    position: relative;
    margin-top: -12vh;
}
#update_dp button{
    margin-top: 2vh;
    margin-right: 1vw;
    padding: 0.85vw 1.5vw;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 600;
    font-size:1vw;
    background: linear-gradient(to right bottom, #2ba7ff,#6fcaff);
}

#btns {
    width: 21vw;
    position: relative;
    height: 6.2vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btns button {
    height: 100%;
    width: 9vw;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 7px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#btns #savebtn {
    color: white;
    background: linear-gradient(to right top, rgb(138, 167, 254), royalblue);
}
#btns button:hover{
    transform: scale(1.07);
}
#right-page2 {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    background-color: hsl(0, 0%, 99%);
    margin-left: 1vw;
    padding: 5vh 2vw 5vh 3vw;
    scroll-behavior: smooth;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#right-page2::-webkit-scrollbar {
    display: none;
}

#right-page2 .card {
    height: 50vh;
    position: relative;
    cursor: default;
    overflow: hidden;
    margin: 5vh 3vw;
    border-radius: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    display: inline-block;
    width: 22vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

}

#right-page2 .card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.card .course-img {
    height: 46%;
    width: 100%;
}

.card .course-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card .course-details {
    height: 54%;
    padding: 1vh 1vw;
    width: 100%;
}

.card .course-details .course-name {
    font-size: 1.7vw;
    font-weight: 500;
    margin: 1vh 0;
}

.card .course-details .course-para {

    font-size: 1vw;
    font-weight: 400;
    margin: 2vh 0;
    padding: 0 2vw 0 0;
}

.card .course-details .fee-btn {
    padding: 1.4vh 1.7vw;
    font-weight: 600;
    font-size: 1vw;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #2181ff;
    margin-top: 2vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    box-shadow: 0px 1px 10px rgba(33, 129, 255, 0.3)
}

.card .course-details .fee-btn:hover {
    transform: scale(1.05);
}

#user-profile-edit-btn {
    position: absolute;
    top:21%;
    left:60%;
}