* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5f2ff;
    flex-direction: column;
}

#pay-box {
    height: 43vh;
    width: 24vw;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 3vh 2vw;
}

#pay-box h1{
    background-color: #2994ff;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    box-shadow: 0px 1px 15px #349aff37;
}
#pay-box h1 i{
    color: white;
    font-size: 4.2vw;
    font-weight: 600;
}
#pay-box h2{
    margin: 1.5vh 0;
    color: #151515;
    font-size: 1.9vw;
}
#pay-box p{
    margin: 1.5vh 0;
    color: #282828;
    font-size: 1.2vw;
    font-weight: 400;
    
}
#pay-box button{
    background-color: #2994ff;
    padding: 1.35vh 2.3vw;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 3.9vh;
    font-size: 1.15vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    box-shadow: 0px 2px 15px #349aff2a;
    cursor: pointer;
}
#pay-box button:active{
    transform: scale(0.95);
}