* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* #main-flex{
    height: 100vh;
    width: 100vw;
} */

#left-panel {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

#left-panel #nav {
    position: absolute;
    display: flex;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    top: 0;
}

#nav img {
    height: 6.5vh;
}

#nav i {
    font-size: 1.8vw;
    font-weight: 700;
    color: rgb(33, 155, 255);
    cursor: pointer;
}

#right-panel {
    width: 50vw;
    height: 100vh;
    position: relative;
}

#right-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#right-panel-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../images/login_page_image.png);
}

#sign-in-page {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 9;
    /* background-color: red; */
}

#sign-in-page form {
    position: relative;
    width: 22.4vw;
    /* background-color: blue; */
}

#sign-in-page p {
    font-size: 1.1vw;
    margin-bottom: 0.5vh;
    font-weight: 500;
}

#sign-in-page h1 {
    font-size: 2.5vw;
    margin-bottom: 3vh;
    font-weight: 650;
}

#sign-in-page a {
    text-decoration: none;
    color: #111;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 2.6vh;
}

#create_ac:hover{
    text-decoration: underline;
}
form input {
    padding: 1vh 1vw;
    width: 100%;
    background-color: white;
    margin: 1vh 0;
    border: none;
    border-bottom: 3px solid rgb(24, 227, 254);
}

form input:focus {
    outline: none;
}

form button {
    width: 100%;
    padding: 1.6vh 0;
    border-radius: 50px;
    border: none;
    color: white;
    background: linear-gradient(to right, rgb(104, 41, 198) -15%, rgb(54, 121, 228), rgb(83, 141, 234));
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: 2.5vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

form button:active{
    transform: scale(0.95);
}
form h5 {
    text-align: left;
    margin-top: 1vh;
    font-weight: 600;
    font-size: 1vw;
    color: #767676;
}

#fullscreen-nav {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    z-index: 999;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    left: -100vw;
}

#fullscreen-nav h4 {
    font-size: 2.5vw;
    margin: 1.3vh 0;
    color: red;
    cursor: pointer;
    font-weight: 100;
}

#fullscreen-nav h5 {
    font-size: 2.5vw;
    position: absolute;
    cursor: pointer;
    top: 5vh;
    right: 5vw;
}

#fullscreen-nav h5 i {
    padding: 5px;
    font-weight: 100;
    background-color: white;
    border-radius: 50%;
}

#fullscreen-nav h4 a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

#fullscreen-nav h4 a:hover {
    color: #000;
    font-weight: 500;
}
#gitgoog{
    margin-top: -1.2vh;
    display: flex;
    padding: 1vh 2vw;
    align-items: center;
}
#google_link{
    background: linear-gradient(rgb(255, 85, 67),rgb(214, 16, 16));
    padding: 1.4vh 1.3vw;
    color: white !important;
    border-radius: 5px;
    font-size: 1.1vw !important;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
#google_link i{
    font-weight: 100;
    font-size: 1.3vw;
    margin-right: 1.5vw;
}
#google_link:active{
    transform: scale(0.95);
}
#github_link{
    background: linear-gradient(rgb(71, 71, 71),rgb(12, 12, 12));
    padding: 1.4vh 1.3vw;
    color: white !important;
    border-radius: 5px;
    font-size: 1.1vw !important;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
#github_link i{
    font-weight: 100;
    font-size: 1.4vw;
    margin-right: 1.5vw;
}
#github_link:active{
    transform: scale(0.95);
}

@media (max-width:600px) {
    #main {
        height: 100vh;
        width: 100%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #left-panel {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: center;
        flex-direction: column;
    }

    #left-panel #nav {
        position: absolute;
        display: flex;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;
        padding: 0 30px 0 27px;
        width: 100vw;
        top: 0;
    }

    #nav img {
        height: 3.6vh;
    }

    #nav i {
        font-size: 3.8vw;
        font-weight: 700;
        color: rgb(33, 155, 255);
        cursor: pointer;
    }

    #right-panel {
        width: 100vw;
        height: 80vh;
        position: absolute;
        /* z-index: 9999; */
    }

    #right-panel-img {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        background-image: url(../images/portrait-login.png);
    }

    #sign-in-page {
        /* height: 42vh; */
        height: 320px;
        z-index: 99;
        width: 75%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        text-align: center;
        flex-direction: column;
        z-index: 9;
        margin-top: -8vh;
        padding: 2vh 2vw;
        /* background-color: red; */
    }

    #sign-in-page form {
        position: relative;
        width: 41vw;

    }

    #sign-in-page p {
        font-size: 2.8vw;
        margin-bottom: 1vh;
        font-weight: 500;
        margin-top: 1vh;
    }

    #sign-in-page h1 {
        font-size: 4.7vw;
        margin-bottom: 2vh;
        font-weight: 650;
    }

    #sign-in-page a {
        text-decoration: none;
        color: #111;
        font-size: 2.5vw;
        font-weight: 600;
        margin-top: 1.7vh;
    }

    #sign-in-page a:hover {
        text-decoration: underline;
    }

    form input {
        padding: 0.8vh 2.2vw;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.54);
        margin: 1vh 0;
        font-size: 2.4vw;
        border: none;
        border-bottom: 3px solid rgb(24, 227, 254);
    }

    form input:focus {
        outline: none;
    }

    form button {
        width: 100%;
        padding: 1.15vh 0;
        border-radius: 50px;
        border: none;
        color: white;
        background: linear-gradient(to right, rgb(104, 41, 198) -15%, rgb(54, 121, 228), rgb(83, 141, 234));
        font-weight: 600;
        cursor: pointer;
        font-size: 2.6vw;
        margin-top: 1vh;
    }

    form h5 {
        text-align: left;
        margin-top: 1vh;
        font-weight: 600;
        font-size: 2.5vw;
        color: #616161;
    }
    #fullscreen-nav h5 {
        font-size: 4.5vw;
        position: absolute;
        cursor: pointer;
        top: 3vh;
        right: 5vw;
    }

    #fullscreen-nav h4 a {
        font-size: 4.5vw;
        margin: 1vh 0;
        font-weight: 500;
    }
    #gitgoog{
        margin-top: -0.5vh;
        display: flex;
        /* background-color: red; */
        padding: 1vh 2vw;
        align-items: center;
    }
    #google_link{
        background: linear-gradient(rgb(255, 85, 67),rgb(214, 16, 16));
        padding: 1vh 2.3vw;
        color: white !important;
        border-radius: 5px;
        font-size: 2.6vw !important;
        margin-right: 8vw;
        display: flex;
        align-items: center;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }
    #google_link i{
        font-weight: 100;
        font-size: 2.4vw;
        margin-right: 1.5vw;
    }
    #google_link:active{
        transform: scale(0.95);
    }
    #github_link{
        background: linear-gradient(rgb(71, 71, 71),rgb(12, 12, 12));
        padding: 1vh 2.3vw;
        color: white !important;
        border-radius: 5px;
        font-size: 2.6vw !important;
        display: flex;
        align-items: center;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }
    #github_link i{
        font-weight: 100;
        font-size: 2.8vw;
        margin-right: 1.5vw;
    }
    #github_link:active{
        transform: scale(0.95);
    }
    
}