*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html , body{
    height: 100vh;
    width: 100vw;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 10vh;
    width: 100vw;
    background-color: #101820FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#signIn-form{
    background-color: rebeccapurple;
    height: 90%;
    width: 100%;
}

#signIn-form form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-left: 3.5vw;
}

#signIn-form form input{
    margin-right:5vw;
    outline: none;
    border: none;
    padding: 1vh 3vw;
    border-radius: 2rem;
}

#signIn-form form button{
    margin-left:14.5vw;
    margin-top:5vh;
    padding:1vh 2vw;
    border-radius: 2rem;
    border:none;
    outline: none;
    border: 3px white solid;
    background-color: #101820FF;
    color:white;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    font-size: 1rem;
}

#signIn-form form button:hover{
    border: 3px #101820FF solid;
    background-color: white;
    color:#101820FF
}