@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* #main-flex{
    height: 100vh;
    width: 100vw;
} */

#left-panel {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

#left-panel #nav {
    position: absolute;
    display: flex;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    top: 0;
}

#nav img {
    height: 6.5vh;
}

#nav i {
    font-size: 1.8vw;
    font-weight: 700;
    color: rgb(33, 155, 255);
    cursor: pointer;
}

#right-panel {
    width: 50vw;
    height: 100vh;
    position: relative;
}

#right-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#right-panel-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../images/login_page_image.png);
}

#sign-in-page {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 9;
    /* background-color: red; */
}

#sign-in-page form {
    position: relative;
    width: 22.4vw;
    /* background-color: blue; */
}

#sign-in-page p {
    font-size: 1.1vw;
    margin-bottom: 0.5vh;
    font-weight: 500;
}

#sign-in-page h1 {
    font-size: 2.5vw;
    margin-bottom: 3vh;
    font-weight: 650;
}

#sign-in-page a {
    text-decoration: none;
    color: #111;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 2.6vh;
}

#create_ac:hover {
    text-decoration: underline;
}

form input {
    padding: 1vh 1vw;
    width: 100%;
    background-color: white;
    margin: 1vh 0;
    border: none;
    border-bottom: 3px solid rgb(24, 227, 254);
}

form input:focus {
    outline: none;
}

#land-form button {
    width: 100%;
    padding: 1.6vh 0;
    border-radius: 50px;
    border: none;
    color: white;
    background: linear-gradient(to right, rgb(104, 41, 198) -15%, rgb(54, 121, 228), rgb(83, 141, 234));
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: 2.5vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

#land-form button:active {
    transform: scale(0.95);
}

form h5 {
    text-align: left;
    margin-top: 1vh;
    font-weight: 600;
    font-size: 1vw;
    color: #767676;
}

#fullscreen-nav {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    z-index: 999;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    left: -100vw;
}

#fullscreen-nav h4 {
    font-size: 2.5vw;
    margin: 1.3vh 0;
    color: red;
    cursor: pointer;
    font-weight: 100;
}

#fullscreen-nav h5 {
    font-size: 2.5vw;
    position: absolute;
    cursor: pointer;
    top: 5vh;
    right: 5vw;
}

#fullscreen-nav h5 i {
    padding: 5px;
    font-weight: 100;
    background-color: white;
    border-radius: 50%;
}

#fullscreen-nav h4 a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

#fullscreen-nav h4 a:hover {
    color: #000;
    font-weight: 500;
}

#gitgoog {
    margin-top: -1.2vh;
    display: flex;
    padding: 1vh 2vw;
    align-items: center;
}

#google_link {
    background: linear-gradient(rgb(255, 85, 67), rgb(214, 16, 16));
    padding: 1.4vh 1.3vw;
    color: white !important;
    border-radius: 5px;
    font-size: 1.1vw !important;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

#google_link i {
    font-weight: 100;
    font-size: 1.3vw;
    margin-right: 1.5vw;
}

#google_link:active {
    transform: scale(0.95);
}

#github_link {
    background: linear-gradient(rgb(71, 71, 71), rgb(12, 12, 12));
    padding: 1.4vh 1.3vw;
    color: white !important;
    border-radius: 5px;
    font-size: 1.1vw !important;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

#github_link i {
    font-weight: 100;
    font-size: 1.4vw;
    margin-right: 1.5vw;
}

#github_link:active {
    transform: scale(0.95);
}


#main2 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 100;
    overflow: hidden;
    display: none;
}



#fullscreen-nav-ptr {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    z-index: 999;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    left: -100vw;
}

#fullscreen-nav-ptr h4 {
    font-size: 4vw;
    margin: 1.3vh 0;
    cursor: pointer;
    font-weight: 100;
}

#fullscreen-nav-ptr h5 {
    font-size: 4vw;
    position: absolute;
    cursor: pointer;
    top: 5vh;
    right: 5vw;
}

#fullscreen-nav-ptr h5 i {
    padding: 5px;
    font-weight: 100;
    background-color: white;
    border-radius: 50%;
}

#fullscreen-nav-ptr h4 a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

#nav-ptr {
    position: absolute;
    display: flex;
    /* height: 70px; */
    height: 7.9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 0 30px 0 27px;
    width: 100vw;
    background-color: white;
    top: 0;
}

#nav-ptr-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8vh;
}

#nav-ptr-part1 h3 {
    width: 38vw;
    /* font-size: 14px; */
    font-size: 1.5vh;
    font-weight: 600;
    /* line-height: 15px; */
    line-height: 1.8vh;
}

#nav-ptr img {
    height: 4.4vh;
    margin-right: 1.2vh;
}

#nav-ptr i {
    font-size: 3.8vw;
    font-weight: 700;
    color: rgb(33, 155, 255);
    cursor: pointer;
}

#main2-content {
    height: calc(100vh - 7.9vh);
    width: 100vw;
    background-color: hsl(210deg 86% 62%);
    position: relative;
    top: 7.9vh;
}

#main2-content #login-top-img {
    position: absolute;
    left: 50%;
    top: 8%;
    height: 32vh;
    /* height: 34.8%; */
    /* height: 287px; */
    transform: translate(-50%, 0);
}



#login-lower-circle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    bottom: -10px;
    height: 45%;
}

#ptr-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    /* width: 60vw; */
    width: 27.5vh;
    z-index: 11;
    padding: 0 4vw;
}

#ptr-form input {
    border-bottom: 2px solid hsl(210deg 86% 62%);
    padding: 0.7vh 1vw;
    width: 100%;
    background-color: white;
    margin: 0.3vh 0;
    font-size: 1.2vh;
}

#ptr-form h5 {
    text-align: left;
    margin-top: 1vh;
    font-weight: 600;
    font-size: 2.8vw;
    color: #767676;
}

#ptr-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* padding: 2vw 2vw; */
    padding: 0.9vh 0.9vh;
    font-size: 3vw;
    border: none;
    color: white;
    position: relative;
    z-index: 19;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 1.4vh;
    background: linear-gradient(120deg, rgb(150, 216, 255), rgb(94, 201, 255));
}

#ptr-form button::before {
    content: "";
    position: absolute;
    bottom: -40%;
    height: 90%;
    border-radius: 50%;
    filter: blur(12px);
    z-index: 9;
    width: 90%;
    background: linear-gradient(120deg, rgb(150, 216, 255), rgb(94, 201, 255));
}

#reviews-div {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100vw;
    white-space: nowrap;
    overflow-x: auto;
}

#reviews-div::-webkit-scrollbar {
    display: none;
}

.review-div-in {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

.review-img {
    height: 8.5vh;
    width: 8.5vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 1vh;
}

.star-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-div i {
    color: rgb(255, 231, 19);
    font-size: 17px;
}

.reviewer-name {
    /* font-size: 16px; */
    font-size: 1.8vh;
    font-weight: 600;
    color: #222;
}

.reviewer-review {
    color: #333;
    margin-top: 1.2vh;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    /* font-size: 15px; */
    font-size: 1.7vh;
    width: 50vw;
    height: 50px;
    white-space: initial;
    text-align: center;
}

#user-rev-head {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 56vh;
    font-weight: 600;
    /* font-size: 5vw; */
    font-size: 2.3vh;
}

#swipe-left-button {
    position: fixed;
    left: 8vw;
    bottom: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dadada;
    background-color: white;
    color: rgb(33, 155, 255);
    border-radius: 50%;
    padding: 0.2vh;
    font-size: 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

#swipe-left-button:active {
    transform: scale(1.2);
}

#swipe-right-button {
    position: fixed !important;
    right: 8vw;
    bottom: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dadada;
    background-color: white;
    color: rgb(33, 155, 255);
    border-radius: 50%;
    padding: 0.2vh;
    font-size: 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

#swipe-right-button:active {
    transform: scale(1.2);
}

#some-options {
    width: 32.1vh;
    height: 7.8vh;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    top: 44.2%;
    z-index: 10;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, 0);
    text-align: center;
}


#some-options>a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 1.35vh;
}

#ptr-btns {
    margin-top: 0.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ptr-google-link {
    background: linear-gradient(rgb(255, 85, 67), rgb(214, 16, 16));
    padding: 0.9vh 1.1vh;
    color: white !important;
    border-radius: 5px;
    font-size: 1.05vh !important;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    text-decoration: none;
}

#ptr-google-link i {
    text-decoration: none;
    font-weight: 100;
    /* font-size: 1.3vw; */
    font-size: 1vh;
    /* margin-right: 1.5vw; */
    margin-right: 0.8vh;
}

#ptr-google-link:active {
    transform: scale(0.95);
}

#ptr-github-link {
    background: linear-gradient(rgb(71, 71, 71), rgb(12, 12, 12));
    padding: 0.9vh 1.1vh;
    color: white !important;
    border-radius: 5px;
    font-size: 1.05vh !important;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    text-decoration: none;
}

#ptr-github-link i {
    font-weight: 100;
    font-size: 1vh;
    margin-right: 0.8vh;
}

#ptr-github-link:active {
    transform: scale(0.95);
}

@media (max-height:460px) {
    #main2-content #login-top-img {
        position: absolute;
        left: 50%;
        top: 10%;
        height: 55vh;
        /* height: 34.8%; */
        /* height: 287px; */
        transform: translate(-50%, 0);
    }
    #some-options{
        display: none;
    }
    #reviews-div{
        display: none;
    }
    #ptr-form {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 32%;
        /* width: 60vw; */
        width: 37.5vh;
        z-index: 11;
        padding: 0 4vw;
    }
    
    #ptr-form input {
        border-bottom: 2px solid hsl(210deg 86% 62%);
        padding: 0.7vh 1vw;
        width: 100%;
        background-color: white;
        margin: 0.3vh 0;
        font-size: 2.2vh;
    }
    
    #ptr-form h5 {
        text-align: left;
        margin-top: 1vh;
        font-weight: 600;
        font-size: 2.4vw;
        color: #767676;
    }
    #ptr-form button{
        margin-top: 6vh;
        padding: 2vh 2vh;
    }
    #user-rev-head{
        display: none;
    }
    #swipe-right-button{
        display: none;
    }
    #swipe-left-button{
        display: none;
    }
    #login-lower-circle{
        display: none;
    }
    
}

@media (max-width:600px) {
    #main2 {
        display: initial;
        overflow: hidden;
    }

    #main1 {
        display: none !important;
    }

    #right-panel {
        display: none;
    }
}